$black:                       #000;

$body-bg:                     #f2f2f2;

$primary:                     $black;
$link-decoration:             none;

$font-family-sans-serif:      Inter, sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$border-color-translucent:    rgba($black, .05);
$border-color:                $border-color-translucent;

$border-radius:               .35rem;